body  {
    margin: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

h1 {
    margin: 0;
    margin-bottom: .5rem;
}

.input {
    border: 1px solid;
    border-radius: .5em;
    padding: .25rem;
    width: 7em;
}

select {
    margin-left: .5rem;
}